<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client" class="com.myspring.test.core.beans.Client">
        <constructor-arg type = "java.lang.String" index="0" value="1" />
        <constructor-arg type = "java.lang.String" index="1" value="John Smith" />
    </bean>



    <bean id="event" class="com.myspring.test.core.beans.Event"  scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat" />
    </bean>
    <bean id="eventLogger" class="com.myspring.test.core.loggers.ConsoleEventLogger" />

    <bean id="fileEventLogger" class="com.myspring.test.core.loggers.FileEventLogger"
          init-method="init">
        <constructor-arg value="target/events_log.txt"/>
    </bean>
    <bean id="cacheFileEventLogger" class="com.myspring.test.core.loggers.CacheFileEventLogger"
          init-method="init" destroy-method="destroy">
        <constructor-arg value="target/events_log.txt"/>
        <constructor-arg value= "5"/>
    </bean>
<bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="app" class="App">
        <constructor-arg ref="client" />
        <constructor-arg ref="fileEventLogger" />
    </bean>

</beans>

